html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    height: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    position: relative;
}

.content {
    flex: 1 0 auto;
}

.header-btn {
    float: right;
    background-color: #cc080800;
    font-size: 1rem;
    line-height: 3rem;
    color: #fff;
    border: none;
    padding: 0 .4rem;
}

header {
    background-color: #cc0808cc;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #fff;
    min-width: 98%;
    padding-left: 2%;
    position: fixed;
}

footer {
    background-color: #cc0808cc;
    color: #fff;
    font-size: .9rem;
    margin-top: auto;
}

.down {
    margin-top: 10rem;
}

.btn {
    position: relative;
    min-height: .2rem;
    padding: .5rem;
    border-radius: .2rem;
    border: .2rem;
}

.btn-red {
    color: #fff;
    background-color: #cc0808cc;
}

.btn-red:hover, .btn-red:focus {
    color: #fff;
    background-color: #ee0c0ccc;
}

dropdown-button {
    color: #fff;
    background-color: #cc0808cc;
    border: none;
    margin-right: 1rem;
}

/*div sizes control classes*/

.body {
    max-width: 90%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5% 0 5%;
    margin: 0 0 100px;
    min-height: 100%;
}

.flex-length-1, .flex-length-2, .flex-length-3, .flex-length-4, .flex-length-5, .flex-length-6, .flex-length-7, .half-flex-length, .full-flex-length {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.flex-length-move-3, .flex-length-move-2, .flex-length-move-1 {
    margin-left: 0;
}

@media (min-width:768px) {
    .flex-length-1 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .flex-length-2 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .flex-length-3 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .half-flex-length {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .flex-length-5 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .flex-length-6 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .flex-length-7 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .full-flex-length {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .flex-length-move-1 {
        margin-left: 16.666667%;
    }
    .flex-length-move-2 {
        margin-left: 25%;
    }
    .flex-length-move-3 {
        margin-left: 33.333333%;
    }
}

.control {
    display: flex;
    flex-wrap: wrap;
    width: 98.555%;
    padding: .2rem;
    font-size: 1rem;
    line-height: 2;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: .2rem;
}

@media (max-width:765px) {
    .forget {
        margin-left: 50%;
        font-size: .8rem;
    }
}

.form_controller {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 1rem;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

@media(max-width:767px) {
    .large {
        display: none;
    }
}